<section
  class="main"
  *ngIf="currentStep === APP_STEPS.WELCOME"
>
  <h1>Start</h1>
  <div class="selection">
    <div *ngFor="let quiz of quizzes">
      <button
        class="button selection-button"
        (click)="startQuiz(quiz)"
      >
        {{ quiz.title }}
      </button>
    </div>
  </div>
</section>

<section
  class="main quiz"
  *ngIf="currentStep === APP_STEPS.QUIZ_ACTIVE"
>
  <h2 class="score">Score: {{ score }}/{{ activeQuiz.questions.length }}</h2>

  <ng-container *ngFor="let question of activeQuiz.questions; let i = index">
    <div
      class="quiz-question"
      [hidden]="currentQuestion !== i"
    >
      <h2>{{ question.question }}</h2>

      <div class="selection">
        <div class="selection-column">
          <ng-container *ngFor="let answer of question.answers; let j = index">
            <button
              *ngIf="j % 2 === 0"
              class="button selection-button"
              (click)="submitAnswer(question, j)"
            >
              {{ answer.content }}
            </button>
          </ng-container>
        </div>
        <div class="selection-column">
          <ng-container *ngFor="let answer of question.answers; let j = index">
            <button
              *ngIf="j % 2 === 1"
              class="button selection-button"
              (click)="submitAnswer(question, j)"
            >
              {{ answer.content }}
            </button>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-container>

  <div
    class="loading"
    *ngIf="loading"
  >
    <h3>Loading...</h3>
  </div>
</section>

<section
  class="main result"
  *ngIf="currentStep === APP_STEPS.SHOW_SCORE"
>
  <h1>Score</h1>
</section>
