.main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 300;
}

.quiz-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-selection__button {
  margin: 2rem;
}

.selection-button {
  width: 20rem;
}
