/* You can add global styles to this file, and also import other style files */
button.button {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  padding: 18px 56px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}

button.button:hover {
  position: relative;
  top: 1px;
}

button.success {
  background-color: #35b116 !important;
  border: 1px solid #17b409;
}

button.warn {
  background-color: #ecb605 !important;
  border: 1px solid #c0bd12;
}
